<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminal_Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">

</head>
<body>
    <div class = "title_wrapper"><span class = "title">New York City Jail Database</span><img src="{{ url_for('static', filename='Patch_of_the_New_York_City_Police_Department.svg.png') }}" alt=""></div>
    
    <div class = "sub_title">Criminals</div>
    <form action="{{ url_for('Search_Criminal') }}" method="post" onchange="updateMaxLength()">
        <div class = "filter_inputs">
            <div class = "main_filter">
                <div class = "section_title">Filter by Name</div>
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" maxlength="10"><br><br>
            
                <label for="last_name" maxlength="15">Last Name</label>
                <input type="text" id="last_name" name="last_name"><br><br>
            </div>
            <div class = "extra_filter">
                <div class = "section_title">Filter by Other Attributes</div>
                <label for="items">Filter Attribute</label>
                <select id="items" name="items">
                    <option value="None">None</option>
                    <option value="Street" maxlength="30">Street</option>
                    <option value="City" maxlength="20">City</option>
                    <option value="Zip" maxlength="5">Zip</option>
                    <option value="Phone" maxlength="10">Phone</option>
                    <option value="V_status" maxlength="1">V_status</option>
                    <option value="P_status" maxlength="1">P_status</option>
                </select>
                <div>
                <label for="attr_value">Attribute Value</label>
                    <input type="text" id="attr_value" name="attr_value">
                </div>
            </div>
        </div>
        <input type="submit" value="Search">
    </form>
    <br>
    <hr>
    <br>
    <div>
        <input type="submit" value="Add Criminal">
        <input type="submit" value="Edit Criminal">
        <input type="submit" value="Delete Criminal">
    </div>
    <br>
    <hr>
    <br>

    <div>{{ extra_rows }}</div>

    <script>
        function updateMaxLength() {
            var selectElement = document.getElementById("items");
            var inputElement = document.getElementById("attr_value");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var maxLength = selectedOption.getAttribute("maxlength");
            inputElement.maxLength = maxLength;
        }
    </script>
</body>
</html>