<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" onchange="updateMaxLength()">
        <label for="alias">Alias:</label>
        <input type="text" id="alias" name="alias" maxlength="20"><br><br>
    
        <label for="items">Filter Attribute</label>
        <select id="items" name="items">
            <option value="Criminal_ID" >Criminal_ID</option>
            <option value="first_letters">First Letters</option>
        </select>
        
        
        <label for="attr_value">Attribute Value</label>
        <input type="text" id="attr_value" name="attr_value"><br><br>
    
        <input type="submit" value="Search">
    </form>
    <input type="submit" value="Add Criminal">
    <input type="submit" value="Edit Criminal">
    <input type="submit" value="Delete Criminal">
    <script>
        function updateMaxLength() {
            var selectElement = document.getElementById("items");
            var inputElement = document.getElementById("attr_value");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var maxLength = selectedOption.getAttribute("maxlength");
            inputElement.maxLength = maxLength;
        }
    </script>
</body>
</html>