<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminal_Search</title>
</head>

<body>
    <form action="" method="post" onchange="updateMaxLength()">
        <label for="First_Name">First Name:</label>
        <input type="text" id="First_Name" name="First_Name" maxlength="15"><br><br>

        <label for="Last_Name">Last Name:</label>
        <input type="text" id="Last_Name" name="Last_Name" maxlength="10"><br><br>

        <label for="items">Filter Attribute</label>
        <select id="items" name="items">
            <option value="Street" maxlength="30">Street</option>
            <option value="State" maxlength="2">State</option>
            <option value="City" maxlength="20">City</option>
            <option value="Zip" maxlength="5">Zip</option>
            <option value="Phone" maxlength="10">Phone</option>
            <option value="Email" maxlength="30">Email</option>
            <option value="Status" maxlength="1">P_status</option>
        </select>

        <label for="attr_value">Attribute Value</label>
        <input type="text" id="attr_value" name="attr_value"><br><br>

        <input type="submit" value="Search">
    </form>
    <input type="submit" value="Add">
    <input type="submit" value="Edit Criminal">
    <input type="submit" value="Delete Criminal">
    <script>
        function updateMaxLength() {
            var selectElement = document.getElementById("items");
            var inputElement = document.getElementById("attr_value");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var maxLength = selectedOption.getAttribute("maxlength");
            inputElement.maxLength = maxLength;
        }
    </script>
</body>

</html>