<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update_Appeals</title>
</head>
<h1> New York City Jail Database <h1></h1>
<body>
    <form action="{{ url_for('Update_Appeals_Pressed') }}" method="post" onchange="updateMaxLength()">
        <label for="Appeals_ID">Appeals ID:</label>
        <input type="text" id="Appeals_ID" name="Appeals_ID" maxlength="10"><br><br>
        <label for="attr_selection">Select Attribute:</label>
        <select id="attr_selection" name="attr_selection">
            <option value="None" maxlength="0"> </option>
            <option value="Crime_ID" maxlength="10">Crime ID</option>
            <option value="Status" maxlength="1">Status</option>
        </select>

        <label for="attr_value">Attribute Value</label>
        <input type="text" id="attr_value" name="attr_value"><br><br>
        
        <label for="attr_selection_date">Select Attribute (Date):</label>
        <select id="attr_selection_date" name="attr_selection_date">
            <option value="None" maxlength="0"> </option>
            <option value="Filing_date" maxlength="10">Filing date</option>
            <option value="Hearing_date" maxlength="1">Hearing date</option>
        </select>

        <label for="attr_value_date">Date</label>
        <input type="date" id="attr_value_date" name="attr_value_date"><br><br>

        <input type="submit" value="Update">
    </form>
    <input type="submit" value="Add Appeal">
    <input type="submit" value="Edit Appeal">
    <input type="submit" value="Delete Appeal">
    
    <div>{{ extra_rows }}</div>

    <script>
    </script>
</body>
</html>