<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Officer Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">

</head>
<body>
    <div class = "title_wrapper"><span class = "title">New York City Jail Database</span><img src="{{ url_for('static', filename='Patch_of_the_New_York_City_Police_Department.svg.png') }}" alt=""></div>
    
    <div class = "sub_title">Criminals</div>
    <form action="{{ url_for('Search_Crime_Charges') }}" method="post" onchange="updateMaxLength()">
        <div class = "filter_inputs">
            <div class = "main_filter">
                <div class = "section_title">Filter by Fine amount</div>
                <label for="Fine_amount">Fine_amount</label>
                <input type="text" id="Fine_amount" name="Fine_amount" maxlength="10"><br><br>
            </div>
            <div class = "extra_filter">
                <div class = "section_title">Filter by Other Attributes</div>
                <label for="items">Filter Attribute</label>
                <select id="items" name="items">
                    <option value="None">None</option>
                    <option value="Charge_status" maxlength="2">Charge_status</option>
                    <option value="Crime_ID" maxlength="9">Crime_ID</option>
                    <option value="Court_Fee" maxlength="7">Court_Fee</option>
                    <option value="Amount_paid" maxlength="7">Amount_paid</option>
                    <option value="Pay_due_date" maxlength="0">Pay_due_date</option>

                </select>
                <div>
                <label for="attr_value">Attribute Value</label>
                    <input type="text" id="attr_value" name="attr_value">
                </div>
            </div>
        </div>
        <input type="submit" value="Search">
    </form>
    <br>
    <hr>
    <br>
    <div class = "btns">
       
    </div>
    <br>
    <hr>
    <br>

    <div>{{ extra_rows }}</div>

    <script>
        function updateMaxLength() {
            var selectElement = document.getElementById("items");
            var inputElement = document.getElementById("attr_value");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption.getAttribute("maxlength") == 0){
                inputElement.type = "date"
            }
            else {
                inputElement.type = "text"
                var maxLength = selectedOption.getAttribute("maxlength");
                inputElement.maxLength = maxLength;
            }
        }
    </script>
</body>
</html>