<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Officer Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">

</head>
<body>
    <div class = "title_wrapper"><span class = "title">New York City Jail Database</span><img src="{{ url_for('static', filename='Patch_of_the_New_York_City_Police_Department.svg.png') }}" alt=""></div>
    
    <div class = "sub_title">Criminals</div>
    <form action="{{ url_for('Search_Crime') }}" method="post" onchange="updateMaxLength()">
        <div class = "filter_inputs">
            <div class = "main_filter">
                <div class = "section_title">Hearing Date</div>
                <label for="Hearing_Date">Hearing_Date</label>
                <input type="date" id="Hearing_Date" name="Hearing_Date"><br><br>
            
            </div>
            <div class = "extra_filter">
                <div class = "section_title">Filter by Other Attributes</div>
                <label for="items">Filter Attribute</label>
                <select id="items" name="items">
                    <option value="None">None</option>
                    <option value="Criminal_ID" maxlength="6">Criminal_ID</option>
                    <option value="Classification" maxlength="1">Classification</option>
                    <option value="Date_Charged" maxlength="0">Date_Charged</option>
                    <option value="Status" maxlength="1">Status</option>
                    <option value="Appeal_out_date" maxlength="0">Appeal_out_date</option>
                </select>
                <div>
                <label for="attr_value">Attribute Value</label>
                    <input type="text" id="attr_value" name="attr_value">
                </div>
            </div>
        </div>
        <input type="submit" value="Search">
    </form>
    <br>
    <hr>
    <br>
    <div class = "btns">
       
    </div>
    <br>
    <hr>
    <br>

    <div>{{ extra_rows }}</div>

    <script>
        function updateMaxLength() {
            var selectElement = document.getElementById("items");
            var inputElement = document.getElementById("attr_value");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption.getAttribute("maxlength") == 0){
                inputElement.type = "date"
            }
            else {
                inputElement.type = "text"
                var maxLength = selectedOption.getAttribute("maxlength");
                inputElement.maxLength = maxLength;
            }
        }
    </script>
</body>
</html>