<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Criminal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='format.css') }}">
</head>
<body> 
    <div class = "title_wrapper"> <strong> New York City Jail Database </strong> <img src="{{ url_for('static', filename='police.png') }}" alt="hi"></div>
    <div class="title"> 
        <h1>Add New Criminal</h1>
    </div>
    <form action="{{ url_for('addCriminal') }}" method="post">
    <div class="form-container">
        <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" maxlength="10">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" maxlength="15">
        </div>
        <div class="form-group">
            <label for="alias">Alias First Name:</label>
            <input type="text" id="alias" name="alias" maxlength="20">
        </div>
        <div class="form-group">
            <label for="street">Street:</label>
            <input type="text" id="street" name="street" maxlength="30">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" maxlength="20">
        </div>
        <div class="form-group">
            <label for="state">State Initials:</label>
            <input type="text" id="state" name="state" maxlength="2">
        </div>
        <div class="form-group">
            <label for="zipcode">Zip Code:</label>
            <input type="text" id="zipcode" name="zipcode" maxlength="5">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" maxlength="10">
        </div>
        <div class="form-group">
            <label for="C_ID">Criminal ID:</label>
            <input type="text" id="C_ID" name="C_ID" maxlength="6">
        </div>
        <div class="form-group">
            <label for="offender_status">Violent Offender Status (Y/N):</label>
            <input type="text" id="offender_status" name="offender_status" maxlength="1">
        </div>
        <div class="form-group">
            <label for="probation_status">Probation Status (Y/N):</label>
            <input type="text" id="probation_status" name="probation_status" maxlength="1">
        </div>
    </div>
    <button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('home') }}" class="btn">Home</a>
</body>
</html>

    