<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminal_Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">

</head>
<body>
    <div class = "title_wrapper"><span class = "title">New York City Jail Database</span><img src="{{ url_for('static', filename='Patch_of_the_New_York_City_Police_Department.svg.png') }}" alt=""></div>
    <div class="sub_title">Delete Criminals</div>
    <br>
    <form action="{{ url_for('Delete_Criminal') }}" method="post">
    <label for="Criminal_ID">Criminal_ID</label>
    <input type="text" id="Criminal_ID" name="Criminal_ID" max="6"><br><br>
    <br>
    <input type="submit" value="Delete">
    </form>
    


</body>
</html>