<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="{{ url_for("signup_pressed") }}" method = "post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>

        <label for="ID">ID</label>
        <input type="text" id="ID" name="ID"><br><br>
        
        <label for="officer_select">Officer:</label>
        <input type="radio" id="officer_select" name="select"><br><br>
        
        <label for="criminal_select">Filthy Criminal:</label>
        <input type="radio" id="criminal_select" name="select"><br><br>
        
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>