<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Criminals</title>
    <link rel="stylesheet" href="format.css">
</head>
<body>
    <div class="title_wrapper">
        <strong>New York City Jail Database</strong>
        <img src="police.png" alt="Police Logo">
    </div>
    <div class="title">
        <h1>Criminal Database</h1>
    </div>
    <table class="criminal-table">
        <thead>
            <tr>
                {% for column_name in criminals[0].keys() %}
                <th>{{ column_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for criminal in criminals %}
            <tr>
                {% for value in criminal.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
