<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update_Officer</title>
</head>
<h1> New York City Jail Database <h1></h1>
<body>
    <form action="{{ url_for('Update_Officer_Pressed') }}" method="post" onchange="updateMaxLength()">
        <label for="Officer_ID">Officer ID:</label>
        <input type="text" id="Officer_ID" name="Officer_ID" maxlength="10"><br><br>
        <label for="attr_selection">Select Attribute:</label>
        <select id="attr_selection" name="attr_selection">
            <option value="First" maxlength="30">First Name</option>
            <option value="Last" maxlength="30">Last Name</option>
            <option value="Prescint" maxlength="30">Prescint</option>
            <option value="Badge" maxlength="20">Badge</option>
            <option value="Phone" maxlength="10">Phone</option>
            <option value="Status" maxlength="1">Status</option>
        </select>

        <label for="attr_value">Attribute Value</label>
        <input type="text" id="attr_value" name="attr_value"><br><br>
    
        <input type="submit" value="Update">
    </form>

    <script>
    </script>
</body>
</html>